@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/mabry-pro.woff2") format("woff2"),
    url("../fonts/mabry-pro.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Mabry Pro Medium";
  font-display: swap;
  src: url("../fonts/mabry-pro-medium.woff2") format("woff2"),
    url("../fonts/mabry-pro-medium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Mabry Pro light";
  font-display: swap;
  src: url("../fonts/mabry-pro-light.woff2") format("woff2"),
    url("../fonts/mabry-pro-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Mabry Pro Bold";
  font-display: swap;
  src: url("../fonts/mabry-pro-bold.woff2") format("woff2"),
    url("../fonts/mabry-pro-bold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Mabry Pro Black";
  font-display: swap;
  src: url("../fonts/mabry-pro-black.woff2") format("woff2"),
    url("../fonts/mabry-pro-black.woff") format("woff");
}
