@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Mabry Pro";

  font-display: swap;
  src: url("../fonts/mabry-pro.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Mabry Pro Medium";

  font-display: swap;
  src: url("../fonts/mabry-pro-medium.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Mabry Pro light";

  font-display: swap;
  src: url("../fonts/mabry-pro-light.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Mabry Pro Bold";

  font-display: swap;
  src: url("../fonts/mabry-pro-bold.otf") format("otf");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Mabry Pro Black";

  font-display: swap;
  src: url("../fonts/mabry-pro-black.otf") format("otf");
}
