.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;

  @include vp-768{
    padding-right: 64px;
    padding-left: 64px;
  }

  @include vp-1360 {
    max-width: 1360px;
    margin: 0 auto;
  }

  @include vp-1920 {
    max-width: 1488px;
    padding-right: 128px;
    padding-left: 128px;
  }
}

.page-content {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;

  @include vp-768{
    padding-right: 64px;
    padding-left: 64px;
  }

  @include vp-1360 {
    max-width: 1360px;
    margin: 0 auto;
  }

  @include vp-1920 {
    max-width: 1920px;
    padding-right: 216px;
    padding-left: 216px;
  }
}
