/* TEXT */
.input-text {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    &__span {
        display: none;
        margin-bottom: 11px;
        color: rgba($color-default-white, 0.5);
    }

    &__input {
        position: relative;
        display: block;
        flex-grow: 1;
        padding-bottom: 16px;
        width: 100%;
        height: fit-content;
        color: $color-default-white;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba($color-default-white, 0.3);
        outline: none;

        &::placeholder {
            font-size: 16px;
            line-height: 24px;
            color: rgba($color-default-white, 0.5);
        }

        &:not(:placeholder-shown) {
            ~.input-text__span {
                display: block;
            }
        }
    }

    &--phone {
        max-width: 148px;
    }

    @include vp-768 {
        &__input {
            &:placeholder {
                font-size: 24px;
                line-height: 32px;
            }
        }

        &--phone {
            max-width: 256px;
        }
    }
}

/* SELECT */
.input-select {
    position: relative;
    display: block;
    width: 100%;

    &__span {
        display: block;
        margin-bottom: 11px;
        color: rgba($color-default-white, 0.5);
    }

    &__select {
        position: absolute;
        z-index: 10;
        opacity: 0;
        height: 50px;
        padding-bottom: 16px;
        width: 100%;
        color: $color-default-white;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid rgba($color-default-white, 0.3);
        outline: none;
        display: inline-block;
        -webkit-appearance:none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        option {
            position: relative;
            opacity: 0;
            z-index: 10;
            background-color: $color-black-russian;
            color: rgba($color-default-white, 0.5);
            border: none;
        }
    }

    &__head {
        position: relative;
        padding-bottom: 16px;
        width: 100%;
        //color: rgba($color-default-white, 0.5);
        color: $color-default-white;
        background-color: $color-transparent;
        border: none;
        border-bottom: 1px solid rgba($color-default-white, 0.3);
        outline: none;
        display: inline-block;
        cursor: pointer;
    }

    &__head::after {
        position: absolute;
        content: '';
        right: 0;
        bottom: 16px;
        display: block;
        width: 10px;
        height: 6px;
        background-image: url('../../img/icons/arrow.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transition: $trans-default;
    }

    &__head.open::after {
        transform: rotate(180deg);
    }

    &__list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: $color-paua;
        border-radius: 8px;
        margin-top: 8px;
        margin-bottom: 0;
        padding: 16px;
        max-height: 272px;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 5;
        color: rgba($color-default-white, 0.5);
        scrollbar-color: $color-black-russian;
        scrollbar-width: thin;
        overscroll-behavior: contain;
    }

    &__list::-webkit-scrollbar {
        width: 3px;
        padding: 16px;
    }

    &__list::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $color-black-russian;
    }

    &__head.open {
        ~.input-select__list {
            display: block;
        }
    }

    &__item {
        position: relative;
        cursor: pointer;
        list-style-type: none;
        margin-bottom: 16px;
    }

    &__item:hover {
        color: $color-default-white;
    }
}


/* AREA */

.input-textarea {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: column-reverse;
    -webkit-box-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;

    &__span {
        display: none;
        margin-bottom: 11px;
        color: rgba($color-default-white, 0.5);
    }

    &__input {
        width: 100%;
        height: auto;
        padding-bottom: 16px;
        color: $color-default-white;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        overflow: hidden;
        border-bottom: 1px solid rgba($color-default-white, 0.3);

        &::placeholder {
            font-size: 16px;
            line-height: 24px;
            color: rgba($color-default-white, 0.5);
        }

        &:not(:placeholder-shown) {
            ~.input-textarea__span {
                display: block;
            }
        }
    }

    @include vp-768 {
        &__input {
            &:placeholder {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }
}

/* CHECKBOX */

.input-checkbox {
    position: relative;
    display: flex;
    align-items: center;

    &__span {
        color: rgba($color-default-white, 0.3);
    }

    &__input,
    &__mark {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border: 1px solid $color-salmon;
        border-radius: 4px;
        box-sizing: border-box;
    }

    &__input {
        opacity: 0;
    }

    &__mark {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-12px);

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 9px;
            height: 7px;
            background-image: url("../../img/icons/tick.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }

    &__input:checked {
        &~.input-checkbox__mark {
            background-color: $color-salmon;
            box-shadow: 0px 2px 10px $color-salmon;

            &::before {
                content: "";
            }
        }

        &~.input-checkbox__span {
            color: rgba($color-default-white, 1);
        }
    }

    &__input:disabled,
    &__input:disabled ~ .input-checkbox__span {
        opacity: 0.3;
    }
}

/* SWITCH */

.input-switch {
    position: relative;
    display: flex;
    align-items: center;
    height: 24px;

    &__span {
        width: 58px;
    }

    &__span--on {
        margin-left: 56px;
        color: rgba($color-default-white, 0.5);
    }

    &__input,
    &__mark {
        position: absolute;
        content: "";
        top: 0;
        left: 58px;
        width: 40px;
        height: 24px;
        margin: 0;
        border: 1px solid $color-salmon;
        border-radius: 12px;
    }

    &__input {
        opacity: 0;

        &~.input-switch__mark {
            background-color: transparent;

            &::before {
                position: absolute;
                content: "";
                top: 3px;
                left: 4px;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                background-color: $color-salmon;
                box-shadow: $shadow-salmon-2;
            }
        }
    }

    &__input:checked {
        &~.input-switch__mark {
            &::before {
                left: auto;
                right: 4px;
            }
        }

        &~.input-switch__span--off {
            color: rgba($color-default-white, 0.5);
        }

        &~.input-switch__span--on {
            color: $color-default-white;
        }
    }

    &__input:disabled,
    &__input:disabled ~ .input-switch__span {
        opacity: 0.3;
    }

    @include vp-1024 {
        &__span {
            width: 72px;
        }

        &__input,
        &__mark {
            left: 72px;
        }
    }
}

/* RADIO */

.input-radio {
    position: relative;
    display: flex;
    align-items: center;

    &__span {
        color: rgba($color-default-white, 0.3);
    }

    &__input,
    &__mark {
        width: 24px;
        height: 24px;
        margin-right: 16px;
        border: 1px solid $color-salmon;
        border-radius: 12px;
        box-sizing: border-box;
    }

    &__input {
        opacity: 0;
    }

    &__mark {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-12px);
    }

    &__input:checked {
        &~.input-radio__mark {
            background-color: $color-salmon;
            box-shadow: $shadow-salmon-2;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 4px;
                height: 4px;
                content: "";
                background-color: $color-default-white;
                border-radius: 2px;
            }
        }

        &~.input-radio__span {
            color: rgba($color-default-white, 1);
        }
    }

    &__input:disabled,
    &__input:disabled ~ .input-radio__span {
        opacity: 0.3;
    }
}

/* RANGE */

.input-range {
    position: relative;
    width: 100%;
    cursor: pointer;
    border: none;
    box-sizing: border-box;

    &__span {
        display: block;
        margin-bottom: 11px;
        color: rgba($color-default-white, 0.5);
    }

    &__value {
        margin-top: 0;
        margin-bottom: 4px;
    }

    &__wrapper {
        position: relative;
        height: 23px;
        margin-bottom: 66px;
    }

    &__input {
        z-index: 5;
        opacity: 0;
        margin: auto;
        width: 100%;
        height: 23px;
    }

    &__track {
        width: 100%;
        height: 1px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 0.5px;
        background-color: rgba($color-default-white, 0.3);
    }

    &__track--chosen {
        width: 0;
        height: 3px;
        background: $color-salmon;
        box-shadow: $shadow-salmon-2;
        border-radius: 2px;
    }

    .input-range__thumb {
        position: absolute;
        display: block;
        margin: auto 0;
        top: 0;
        height: 23px;
        width: 23px;
        box-sizing: border-box;
        background: $color-salmon;
        box-shadow: $shadow-salmon-2;
        border-radius: 11.5px;
    }
}
