.loader {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    background-image: url("../img/icons/loader.svg");
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 50%;
    animation: rotation 2s linear infinite;


    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
} 