.title {
    &-h1 {
        margin: 0;
        font-family: $ff-mabry-pro-black;
        font-size: 40px;
        line-height: 48px; 
    }

    &-h2 {
        margin: 0;
        font-family: $ff-mabry-pro-black;
        font-size: 32px;
        line-height: 40px;
    }

    &-h3 {
        margin: 0;
        font-family: $ff-mabry-pro-black;
        font-size: 24px;
        line-height: 32px;
    }

    @include vp-1024 {
        &-h1 {
            font-size: 64px;
            line-height: 80px;
        }

        &-h2 {
            font-size: 48px;
            line-height: 56px;
        }

        &-h3 {
            font-family: $ff-mabry-pro-bold;
            font-size: 32px;
            line-height: 40px;
        }
    }
}

.text {
    &-normal {
        font-family: $ff-mabry-pro-light;
        font-size: 16px;
        line-height: 24px;
    }

    &-small {
        font-family: $ff-mabry-pro-light;
        font-size: 12px;
        line-height: 16px;
    }

    @include vp-1024 {
        &-normal {
            font-size: 24px;
            line-height: 32px;
        }

        &-small {
            font-size: 16px;
            line-height: 24px;
        }
    }
}