.about {
    padding-top: 76px;
    padding-bottom: 56px;

    h2 {
        margin-bottom: 52px;
    }

    h3 {
        margin-top: 34px;
        margin-bottom: 22px;
    }

    ul {
        margin-top: 40px;
        margin-bottom: 0;
        padding-left: 19px;
    }

    li {
        list-style-type: none;
        position: relative;
        margin-bottom: 16px;

        &::before {
            position: absolute;
            content: '';
            top: 10px;
            left: -19px;
            width: 3px;
            height: 3px;
            background-color: $color-default-white;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__answer {
        max-width: 60%;
        margin-left: 19px;
        margin-bottom: 0;
        color: $color-salmon;
    }

    @include vp-768 {
        &__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 48px;
        }

        &__answer {
            max-width: 410px;
        }
    }

    @include vp-1024 {
        padding-top: 138px;
        padding-bottom: 138px;

        h2 {
            margin-bottom: 66px;
        }

        h3 {
            margin-top: 90px;
        }

        &__wrapper-right {
            padding-left: 107px;

            ul {
                margin-top: 25px;
                margin-bottom: 55px;
            }

            li {
                margin-bottom: 40px;

                &::before {
                    width: 5px;
                    height: 5px;
                    top: 15px;
                }
            }
        }
    }

}