.main {
    position: relative;
    padding-bottom: 66px;

    &__image {
        position: absolute;
        top: -130px;
        right: 0;
        transform: translate(50%, -50%);
        width: 240%;
        max-width: 1300px;
    }

    &__content {
        position: relative;
        margin-top: 385px;
        z-index: 1;
    
        h1 {
            margin-bottom: 30px;
        }
    
        p {
            margin-bottom: 41px;
        }
    }

    &__button {
        margin-bottom: 81px;
    }
    
    &__upcoming-event {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 49px;
        row-gap: 16px;
        margin: 0;
        width: max-content;
        max-width: 100%;
    
        dt {
            width: fit-content;
            grid-column: 1/3;
        }
    
        dd {
            position: relative;
            margin-left: 0;
    
            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: -24px;
                height: 16px;
                width: 1px;
                transform: translateY(-50%);
                background-color: $color-default-white;
                opacity: 0.3;
            }
        }
    }

    @include vp-768 {
        &__upcoming-event {
            grid-template-columns: auto auto auto auto;
        }

        &__content {
            width: 70%;

            p {
                max-width: 464px;
            }
        }

        dt {
            grid-column: auto;
        }
    }

    @include vp-1024 {
        position: relative;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        display: flex;
        align-items: center;
        padding-bottom: 175px;
        margin-bottom: 66px;

        &__image {
            width: 175%;
            max-width: none;
            top: 120px;
            transform: translate(57%, 0);
        }

        &__content {
            max-width: 723px;
            margin-top: 0;

            p {
                margin-bottom: 76px;
            }
        }

        &__button {
            margin-bottom: 0;
        }

        &__upcoming-event {
            position: absolute;
            bottom: 70px;
            column-gap: 71px;
        }
    }

    @include vp-1360 {
        &__image {
            top: -80px;
        }
    }
    
}
