.master-classes {
    position: relative;
    padding-top: 64px;
    padding-bottom: 69px;

    h2 {
        margin-bottom: 62px;
    }

    &::after {
        position: absolute;
        content: "";
        background-size: contain;
        background-repeat: no-repeat;
        filter: blur(64px);
        -webkit-filter: blur(64px);
        -moz-filter: blur(64px);
        -ms-filter: blur(64px);
        bottom: 36px;
        right: -20px;
        width: 229px;
        height: 227px;
        transform: rotate(-180deg);
        background-image: url("../img/mobile/blur/blur-2.png");

        @include retina {
            background-image: url("../img/mobile/blur/blur-2@2x.png");
        }
    }

    &__list {
        position: relative;
        margin: 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 16px;

        &::before,
        &::after {
            position: absolute;
            content: "";
            background-size: contain;
            background-repeat: no-repeat;
            filter: blur(64px);
            -webkit-filter: blur(64px);
            -moz-filter: blur(64px);
            -ms-filter: blur(64px);
        }

        &::before {
            top: -104px;
            right: -119px;
            width: 260px;
            height: 264px;
            background-image: url("../img/mobile/blur/blur-1.png");

            @include retina {
            background-image: url("../img/mobile/blur/blur-1@2x.png");
        }
        }

        &::after {
            width: 315px;
            height: 313px;
            top: 50%;
            left: -51px;
            transform: translateY(-50%);
            background-image: url("../img/mobile/blur/blur-2.png");

            @include retina {
                background-image: url("../img/mobile/blur/blur-2@2x.png");
            }
        }
    }

    &__item {
        list-style: none;
        width: 100%;
        padding: 33px 23px 24px 24px;
        border-radius: 16px;
        background-color: $color-gun-powder;
        z-index: 1;

        h3 {
            margin-bottom: 22px;
        }
    }

    &__button {
        margin-top: 43px;
    }

    @include vp-768 {
        &__list {
            grid-template-columns: 1fr 1fr;
            column-gap: 48px;
            row-gap: 48px;
        }

        &__item {
            display: flex;
            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            justify-content: flex-start;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            align-items: flex-start;
            -webkit-align-items: flex-start;
        }

        &__button {
            margin-top: auto;
        }
    }

    @include vp-1024 {
        padding-top: 138px;
        padding-bottom: 138px;

        &::after {
            filter: blur(124px);
            -webkit-filter: blur(124px);
            -moz-filter: blur(124px);
            -ms-filter: blur(124px);
            width: 448px;
            height: 445px;
            right: 40px;
            transform: rotate(-170deg);
        }

        h2 {
            margin-bottom: 83px;
        }

        &__list {
            &::before {
                filter: blur(124px);
                -webkit-filter: blur(124px);
                -moz-filter: blur(124px);
                -ms-filter: blur(124px);
                width: 510px;
                height: 517px;
                top: 17px;
                right: -170px;
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(15deg);
                filter: blur(124px);
                -webkit-filter: blur(124px);
                -moz-filter: blur(124px);
                -ms-filter: blur(124px);
                width: 616px;
                height: 613px;
                top: 92px;
                left: -95px;
            }
        }

        &__item {
            padding: 50px 48px;
            min-height: 440px;
        }

        h3 {
            margin-bottom: 20px;
        }

        p {
            margin-top: 2px;
            margin-bottom: 65px;
        }
    }
}

