.page-header {
    position: relative;
    background-color: $color-black-russian;
    z-index: 2;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: rgba($color-default-white, 0.2);
    }

    &__wrapper {
        position: relative;
        width: 100%;
        min-height: 74px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__logo {
        display: none;
    }

    &__nav {
        margin: 63px -16px 0 -16px;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Chrome */
        display: flex;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-align-items: center;
        align-items: center;
        padding-top: 5px;
        border-top: 1px solid rgba($color-default-white, 0.2);
    }

    &__toggle {
        position: relative;
        display: none;
        top: 13px;
        left: 17px;
        width: 32px;
        height: 24px;
        background-color: $color-transparent;
        border: none;
        cursor: pointer;

        &::before,
        span,
        &::after {
            position: absolute;
            content: "";
            left: 0;
            width: 32px;
            height: 2px;
            background-color: $color-spun-pearl;
        }

        &::before {
            top: 0;
        }

        span {
            top: 11px;
        }

        &::after {
            bottom: 0;
            width: 16px;
        }

        &:active {
            &::before,
            span,
            &::after {
                background-color: $color-default-white;
                transition: color $trans-default;
            }
        }

    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 30px 16px 0;
        list-style: none;
    }

    &__item {
        margin-top: 3px;
    }

    &__link {
        display: block;
        width: 100%;
        padding: 30px 0;
        font-family: $ff-mabry-pro-light;
        font-size: 18px;
        line-height: 23px;
        color: rgba($color-default-white, 0.7);
        text-align: center;
        cursor: pointer;

        &:active,
        &.active {
            outline: none;
            color: $color-default-white;
        }

        @media (hover: hover),
        screen and (min-width: 0\0) {

            &:focus,
            &:hover {
                outline: none;
                color: $color-default-white;
                transition: color $trans-default;
            }
        }
    }

    &__button {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    &--closed,
    &--opened {
        position: fixed;
        top: 0;
        width: 100%;
    }

    &--closed {
        .page-header__toggle {
            display: block;
            left: 0;
        }

        .page-header__nav {
            display: none;
            padding-top: 0;
        }
    }

    &--opened {
        top: -70px;
        padding-bottom: 70px;
        -ms-transform: translateY(70px);
        -webkit-transform: translateY(70px);
        -moz-transform: translateY(70px);
        -o-transform: translateY(70px);
        transform: translateY(70px);
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        border-bottom: none;

        .page-header__toggle {
            display: block;
            position: absolute;
            top: 23px;

            &::before {
                top: 50%;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            span {
                display: none;
            }

            &::after {
                top: 50%;
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }

        .page-header__nav {
            height: calc(100vh - 65px);
            height: calc(var(--vh, 1vh) * 100 - 65px);
            overflow: auto;
        }
    }

    @include vp-768 {
        &--opened {
            top: initial;
            padding-bottom: inherit;
            transform: translateY(0);
            min-height: auto;

            .page-header__toggle {
                left: 64px;
            }

            .page-header__nav {
                height: auto;
                overflow: hidden;
            }
        }

        &__button {
            right: 64px;
        }

        &__nav {
            margin-left: -64px;
            margin-right: -64px;
            height: auto;
            overflow: hidden;
        }
    }

    @include vp-1280 {
        position: fixed;
        top: 0;
        width: 100%;

        &__wrapper {
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-align-items: flex-start;
            align-items: flex-start;
            margin: 0 auto;
            padding-top: 25px;
            padding-bottom: 0;
        }

        &__wrapper-nav {
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-align-items: flex-start;
            align-items: flex-start;
        }

        &__nav {
            border-top: none;
            margin: 0;
        }

        &__logo {
            display: block;
            width: 55px;
            height: 55px;
            margin-right: 48px;
            cursor: pointer;

            &:active,
            &:hover,
            &:focus {
                border-radius: 50%;
                box-shadow: $shadow-salmon-1;
                transition: shadow $tf-default;
            }
        }

        &__button {
            position: relative;
            top: initial;
            right: initial;
        }

        &--closed,
        &--opened {
            .page-header__toggle {
                display: none;
            }

            .page-header__nav {
                display: block;
                margin-top: 0;
                border-top: none;
                margin-right: 15px;
            }
        }

        &__list {
            display: flex;
            display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
            -webkit-box-pack: start;
            display: -ms-flexbox;  /* TWEENER - IE 10 */
            display: -webkit-flex; /* NEW - Chrome */
            -webkit-box-orient: horizontal;
            -webkit-box-direction:inherit;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            padding: 0;
            margin-top: 0;
        }

        &__item {
            margin-right: 52px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            padding-top: 15px;
            padding-bottom: 39px;

            &.active {
                position: relative;

                &::before {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: $color-salmon;
                }

            }
        }
    }

    @include vp-1360 {
        &__logo {
            margin-right: 71px;
        }
    }

    @include vp-1920 {
        &__item {
            margin-right: 67px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__image {
            top: -104px;
        }
    }
}
